table {
    border-spacing: 5px;
    border-color: black;
    background-color: black;
    text-align: center;
}

tr{
    background-color:rgb(0, 200, 255);
}

body {

    background: #00c8ff;
    background: radial-gradient(circle, rgba(0, 200, 255, 1) 0%, rgba(0, 140, 255, 1) 43%, rgba(0, 13, 255, 1) 75%, rgba(179, 0, 255, 1) 100%);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: "Lacquer", system-ui;
}

.circulo-fundo{
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo-fundo td {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

td {
    font-size: 20px;
    padding: 20px;
}

th {
    font-size: 25px;
}

img {
    width: 100px;
    height: 100px;
    
}

.img:hover {
transform: scale(1.09);
transition: transform 0.3s ;
}

#musica {
    color: white;
}

.botao-branco{
    background-color: rgb(0, 255, 200);
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    border: 5px solid black;
}

.botao-branco:hover {
    transform: scale(1.2);
    transition: transform 0.3s ;
}

.subtitulo:hover {
    transform: scale(1.01);
    transition: transform 0.3s ;
}

h1:hover {
    transform: scale(1.4);
    transition: transform 0.3s ;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }  